<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>HTTP Client App</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <app-department fxFlex="40"></app-department>

    <app-product fxFlex="50"></app-product>
  </div>
</mat-card>